<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>

    <div class="container register-bg p-5 border border-dark">
        <nav class="navbar bg-dark text-light p-3">
            <a class="text-success h3" href="/dashboard">Dashboard</a>
            <button class="btn btn-outline-success" type="button" action="/logout">Logout</button>
        </nav>
        <div class="container login-bg p-3 border border-dark">
            {% with messages = get_flashed_messages() %}
            <!-- declare a variable called messages -->
            {% if messages %}
            <!-- check if there are any messages -->
            {% for message in messages %}
            <!-- loop through the messages -->
            <p class="text-danger">{{message}}</p> <!-- display each message in a paragraph tag -->
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="/create/recipe" class='row' method="post">
                <div class="col wht-sh">
                    <div>
                        <label for="name">Name: </label>
                        <input class="form-control mb-3 border border-dark" type="text" id="name" name="name"
                            placeholder="Name of recipe">
                    </div>
                    <div>
                        <label for="description">About:</label>
                        <textarea id="description" class="form-control mb-3 border border-dark" name="description"
                            cols="42" rows="6" placeholder="Describe your recipe..."></textarea>
                    </div>
                    <label for="instructions">Howto:</label>
                    <textarea id="instructions" class="form-control border border-dark" name="instructions" cols="42"
                        rows="6" placeholder="Explain the steps you took..."></textarea>
                    <div class="container mt-3 text-center"><input type="submit" class="btn btn-success" value="Create">
                    </div>
                </div>
                <div class="col blk-sh text-center">
                    <div class="register-bg text-light p-2 mb-5 border border-dark">
                        <label for="date_made_on">Date Made On: </label>
                        <!-- the margins are similar to justify-content, to center vertically -->
                        <input type="date" class="mb-3 mt-3" name="date_made_on">
                    </div>
                    <div class="register-bg text-light p-3 border border-dark">
                        <label for="under_30_minutes">Under 30 Minutes? </label>
                        <input type="radio" id="under_30_minutes" name="under_30_minutes" value='1'>
                        <label for="1">Yes</label>
                        <input type="radio" id="under_30_minutes" name="under_30_minutes" value='0'>
                        <label for="0">No</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>